<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/dashboard">
          <i class="bi bi-house-door"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Contents</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>


        
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/appointment">
              <i class="bi bi-circle"></i><span>Appointments</span>
            </a>
            <a href="/admin/department">
              <i class="bi bi-circle"></i><span>Departments</span>
            </a>
            <a href="/admin/doctor">
              <i class="bi bi-circle"></i><span>Doctors</span>
            </a>
            <a href="/admin/featured">
              <i class="bi bi-circle"></i><span>Featured Doctors</span>
            </a>
            <a href="/admin/blog">
              <i class="bi bi-circle"></i><span>Blogs</span>
            </a>
            <a href="/admin/contact">
              <i class="bi bi-circle"></i><span>Contact Us</span>
            </a>
          </li>
        </ul>
      </li>
      

    </ul>

  </aside>